.title{
    background-color: black;
    color:white;
    font-size: 50px;
    font-family: Impact,fantasy;
    text-align: center;
}

.question{
    text-align: center;
    font-size: 28px;
    margin-block-end: 0px;
    margin-block-start: 50px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer{
    font-size: 20px;
    padding:5px;
    flex: none;
    width:85%;
    border-style:solid;
    border-radius: 10px;
    border-color: #CD853Fed;
}

.ending{
    font-size: 50px;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    flex: none;
}

.image{
    width: 25%;
    flex: none;
}

@media (max-width:1250px){
    .box1{
        flex-wrap: wrap;
    }

    .image{
        width: 45%
    }

    .title{
        font-size: 30px;
    }

    .question{
        font-size: 20px;
    }

    .answer{
        font-size: 16px;
    }
}

@media (max-width:620px){
    .box1{
        flex-wrap: wrap;
    }

    .image{
        width: 60%
    }

    .title{
        font-size: 20px;
    }

    .question{
        font-size: 14px;
    }

    .answer{
        font-size: 12px;
    }

    .ending{
        font-size: 40px;
    }
}
